@{
    ViewData["Title"] = "Version";
}
<h2>@ViewData["Title"].</h2>
<h3>System and runtime information</h3>

<p>Server Platform: @ViewData["OsPlatform"]</p>
<p>ASP.Net Version: @ViewData["AspDotNetVersion"]</p>
